$orange: #ffc000;
$orangeHover: #ffd111;


* {
	margin: 0;
	padding: 0;
}

body {
	position: relative;

	&.full-modal {
		overflow: hidden;
	}
}

.bg-grid {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    z-index: -2;
    top: 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);

	& > div {
		border-left: 1px solid #f9f9f9;

		&:first-child {
			border: 0;
		}
	}
}

.extended-parallax {
    position: absolute;
    z-index: -1;
    width: 100%;

    img {
    	max-height: 160px;
    }
}

.content-page {
	padding-top: 84px;
}

#nav-icon {
	width: 20px;
	height: 18px;
	position: relative;
	margin: 0px auto;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;

	span {
		display: block;
		position: absolute;
		height: 2px;
		width: 100%;
		background: #000;
		border-radius: 9px;
		opacity: 1; left: 0;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .25s ease-in-out;
		-moz-transition: .25s ease-in-out;
		-o-transition: .25s ease-in-out;
		transition: .25s ease-in-out;

			&:nth-child(1) {
				top: 0;
			}

			&:nth-child(2) {
				top: 8px;
			}

			&:nth-child(3) {
				top: 8px;
			}

			&:nth-child(4) {
				top: 16px;
			}
	}

	&:hover {
		span {
			background: $orange;
		}
	}

	&.open {
		z-index: 100;
		/*padding: 10px 0;*/

		span {
			&:nth-child(1) {
				top: 8px;
				width: 0%;
				left: 50%;
			}

			&:nth-child(2) {
				-webkit-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				-o-transform: rotate(45deg);
				transform: rotate(45deg);
			}

			&:nth-child(3) {
				-webkit-transform: rotate(-45deg);
				-moz-transform: rotate(-45deg);
				-o-transform: rotate(-45deg);
				transform: rotate(-45deg);
			}

			&:nth-child(4) {
				top: 8px;
				width: 0%;
				left: 50%;
			}
		}
	}

	&.open {
		&:hover {
			span {
				background: $orange;
				height: 2px;
			}
		}
	}
}

#this_course {
	.content {
		display: grid;
		grid-template-columns: repeat(4,1fr);
		grid-column-gap: 30px;

		svg {
			max-width: 124px;
		}
	}
}

video {
	width: 100%;
	max-width: 100%;
}

body {
	/*background: #fff url(../images/p-bg.png) center repeat-y;*/
	font-family: 'Open Sans', sans-serif;
}

h2 {
    font-size: 32px;
    line-height: 34px;
    position: relative;
    display: inline-block;
    font-weight: 800;
    z-index: 1;
}

h3 {
	font-size: 26px;
	position: relative;
	font-weight: 700;
}

img {
	max-width: 100%;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

section {
	overflow: hidden;
}

.dart-btn {
	display: inline-block;
	color: #000;
	font-size: 14px;
	font-weight: 700;
	text-decoration: none;
	background: $orange;
	box-shadow: 0px 14px 57px 0px rgba(0, 0, 0, 0.16);
	border-radius: 30px;
	padding: 15px 40px;
	transition: 0.2s;
	border: 0;
	cursor: pointer;
	outline: none;

	&:hover {
		background: $orangeHover;
		color: #000;
		text-decoration: none;
    }
}
	.input-effect {
		label {
			color: $orange !important;
		}

		input[type=text] {
			transition: 0.3s all;
			border-bottom: 1px solid $orange !important;
		}

		textarea {
			transition: 0.3s all;
			border-bottom: 1px solid $orange !important;
		}
	}

.title {
	&:after {
		content: '';
		position: absolute;
		top: 50%;
		right: calc(100% - 51px);
		background: $orange;
		width: 0;
		height: 44px;
		margin-top: -22px;
		z-index: -1;
		-webkit-transition: .3s ease-in-out;
		transition: .8s ease-in-out;
	}

	&.active {
		&:after {
			width: 100px;
		}
	}
}

header {
    &#header {
        background: #fff;
        border-bottom: 1px solid #eeeeee;
        padding: 21px 0;
        font-size: 14px;
        /*transition: 0.3s all;*/
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 999;
    }

    &.page_description {
        overflow: hidden;
        h1 {
            padding-bottom: 0;
        }

        span {
            display: block;
            margin-bottom: 25px;
            padding-left: 43px;
            color: #fff;
            z-index: 1;
            position: relative;
            font-size: 14.5px;
            font-weight: 700;
            position: relative;

            &:before {
                position: absolute;
                width: 33px;
                height: 1px;
                background: #fff;
                content: '';
                left: 0;
                top: 50%;
            }
         }
    }

	&.header-fixed {
		box-shadow: 0px 0px 28px #00000026;
		border-bottom: 0;
	}

	&#header > .container {
		display: grid;
		grid-template-columns: 1fr auto auto auto;
		grid-column-gap: 40px;
		align-items: center;
	}

	a.logo {
		width: 101px;
        display: block;

        svg {
            display: block;
        }
	}

	.phone {
		font-weight: 700;
		color: #000;
		display: grid;
		align-items: center;
		grid-template-columns: auto 1fr;

		a {
			color: #000;
			text-decoration: none;
		}

		i {
			margin-right: 12px;
			font-size: 18px;
		}
	}

	.dart-btn {
		font-size: 14px;
		padding: 10px 21px;
		font-weight: 700;
		box-shadow: none;
	}
}

#home_slider {
	position: relative;
	padding: 50px 0;

	.home_slider {
		position: relative;
	}

	.content {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;/*
		display: grid;
		align-items: center;*/
		text-align: center;

		& > div {
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			transform: translateY(-50%);
		}
	}

	.da_glich {
		font-size: 51px;
		font-weight: 700;
		color: #000;
		background: $orange;
		display: inline-block;
		margin: 0 auto;
		line-height: 51px;
		position: relative;
		width: 267px;
	}

	h1 {
		color: #eeeeee;
		font-size: 30px;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
		z-index: 99999;
        margin-bottom: 30px;
        margin-top: 0;
        padding: 0;
	}
}

#about {
	position: relative;

	.cont {
		padding: 0 80px;
	}
	.container {
		// background: url(../images/About.svg) no-repeat;
		// background-size: auto 160px;
		// background-position: 100% 35px;
		position: relative;
		padding-top: 80px;
		padding-bottom: 80px;

		.content {
			font-size: 18px;
			line-height: 30px;
			font-weight: 100;
			padding: 40px 20px 40px 0;
		}

		.contacts {
			display: inline-block;
			left: 50%;
			transform: translateX(-50%);
			position: relative;
		}

		.telegram {
			position: absolute;
			right: -60px;
			transform: rotate(90deg);
			top: 75px;
            padding-left: 43px;

            a {
                font-size: 14.5px;
                font-weight: 700;
                color: #000;
                text-decoration: none;
            }

			&:before {
				position: absolute;
				width: 33px;
				height: 1px;
				background: #000;
				content: '';
				left: 0;
				top: 50%;
			}
		}
	}

	ul {
		&.socials {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-column-gap: 50px;

			li {
				display: inline-block;

				a {
					display: inline-block;
					width: 50px;
					height: 50px;
					text-align: center;
					line-height: 50px;
					font-size: 24px;
					color: #000;
					border: 1px solid #eeeeee;
					background: #fff;
					transition: 0.3s all;

					&:hover {
						border: 1px solid $orange;
						background: $orange;
						color: #000;
					}
				}
			}
		}
	}
}

#services {
	position: relative;
	/*background: #000;*/
	background: url(../assets/images/bg_services.jpg) center no-repeat;
    background-size: cover;

	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;

    margin-bottom: 30px;

    &:before {
	    content: '';
	    position: absolute;
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: 100%;
	    background: #000000e0;
    }

	.container {
		padding-top: 80px;
		padding-bottom: 80px;
		position: relative;
		z-index: 3;

		.content {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			padding: 0 80px;

			h3 {
				color: #fff;
				position: relative;
				z-index: 3;

				&.title.active {
					& > span {
						color: #000;
					}
				}
			}

			& > div {
				ul {
					margin-top: 30px;
					list-style: square outside;

					li {
						color: $orange;
						margin-left: 37px;
						line-height: 40px;

						a {
							color: #fff;
							font-weight: 100;
							position: relative;
							padding: 3px 0;
							text-decoration: none;

							&:after {
									width: 0px;
									content: '';
									position: absolute;
									transition: all .6s ease-in-out;
									height: 4px;
									right: 0;
									bottom: 0;
							}

							&:hover {
								text-decoration: none;
								font-weight: 700;

								&:after {
										width: 100%;
										height: 4px;
										background: $orange;
										transition: all .6s ease-in-out;
										left: 0;
										bottom: 0;
								}
							}
						}
					}
				}
			}
		}

		.desc {
				font-size: 14.5px;
				font-weight: 700;
				color: #fff;
				position: absolute;
				left: -60px;
				transform: rotate(-90deg);
				bottom: 75px;
				padding-left: 43px;

				&:before {
					position: absolute;
					width: 33px;
					height: 1px;
					background: #fff;
					content: '';
					left: 0;
					top: 50%;
				}
			}
	}
}


#portfolio {
	text-align: center;
    position: relative;

    &.page {
        margin-top: 30px;
    }

	.container {
		padding-top: 80px;
		padding-bottom: 80px;

		h2 {
			span {
				position: absolute;
				right: calc(-100% - -33px);
				display: inline-block;
				font-size: 14.5px;
				font-weight: 700;

				&:before {
						position: absolute;
						width: 33px;
						height: 1px;
						background: #000;
						content: '';
						left: -43px;
						top: 50%;
				}
			}
		}

		.portfolio {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 10px;
			margin: 100px 0 40px 0;

			& > div {
				max-width: 376px;
				margin: 0 auto;
                position: relative;

                p {
                    margin: 0;
                }

				& > a {
					position: relative;
					display: block;
					line-height: 0;
					transition: 0.3s all;

					img {
						filter: grayscale(100%);
					}

					.datails {
						position: absolute;
						left: 0;
						top: 0;
						background: #000000c9;
						color: #fff;
						display: grid;
						align-items: center;
						text-align: center;
						height: 100%;
						width: 100%;
						line-height: normal;
						opacity: 0;
						transition: 0.1s all;

						& > div {
							padding: 20px;
						}

						h4 {
							font-size: 30px;
							color: $orange;
							font-weight: bold;
						}

						p {
							font-weight: 100;
						}
					}

					&:hover {

						img {
							filter: grayscale(0%);
                        }

						.datails {
							opacity: 1;
							max-width: 376px;
							left: 50%;
							transform: translateX(-50%);
						}
					}

					&:after {
						content: '';
						width: 100%;
						height: 100%;
						position: absolute;
						top: 0;
						left: 0;
						background: transparent;
						/*background: linear-gradient(to top, rgba(0, 0, 0, 0.21) 0%, rgba(0,0,0,0.1) 100%);*/
                    }

                    & > ul {
                        position: absolute;
                        bottom: 20px;
                        left: 20px;
                        opacity: 1;
                        transition: 0.2s all;

                        li {
                            display: block;
                            font-size: 12px;
                            background: $orange;
                            color: #000;
                            padding: 2px 10px;
                            float: left;
                            box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.11);
                            line-height: normal;

                            a {
                                color: #000;
                            }
                        }
                    }
				}

				&:hover {
					ul {
						opacity: 0;
						z-index: -1;
					}
				}
			}
		}
			.read {
				a {
					i {
 						transition: 0.2s;
						transform: translateZ(0);
						transition-duration: 0.1s;
						transition-property: transform;
						transition-timing-function: ease-out;
						}
					&:hover {
						    i {
						    	transform: translateX(4px);
						    }
					}
				}
			}
	}
}

#feedback {
	overflow: hidden;
    position: relative;

    &.page {
        margin-top: 30px;

        .container {
            padding-bottom: 0;;
        }
    }
		.container {
				padding-top: 80px;
				padding-bottom: 80px;
				// background: url(../images/Contacts.svg) no-repeat;
				// background-size: auto 160px;
				// background-position: 100% 0px;

				.content {
					display: grid;
					grid-template-columns: 1fr 1fr;
					margin: 100px 0 40px 0;
					align-items: center;

					.home_form {
						position: relative;

						form {
							box-shadow: 6px 13px 57px 0px rgba(0, 0, 0, 0.06);
							background: #fff;
							padding: 50px;
							position: relative;
							z-index: 10;
                            // text-align: center;

                            & > p {
                                text-align: center;
                                position: relative;
                                margin: 0;
                            }


                                // for CF7
                                input[type=submit].dart-btn {
                                    display: inline-block;
                                    color: #000;
                                    font-size: 14px;
                                    font-weight: 700;
                                    text-decoration: none;
                                    background: $orange;
                                    box-shadow: 0px 14px 57px 0px rgba(0, 0, 0, 0.16);
                                    border-radius: 30px;
                                    padding: 15px 40px;
                                    transition: 0.2s;
                                    border: 0;
                                    cursor: pointer;
                                    outline: none;
                                    height: auto;

                                    &:hover {
                                        background: $orangeHover;
                                        color: #000;
                                        text-decoration: none;
                                    }
                                }

                                .ajax-loader {
                                    position: absolute;
                                    left: 2px;
                                    margin: 0;
                                    top: 0;
                                    transform: none;
                                    background-color: $orange;
                                    width: calc(100% - 4px);
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    background-image: url(../assets/images/loading_black.svg);
                                    background-size: 36px 36px;
                                    height: 44px;
                                    border-radius: 30px;
                                }

                                .wpcf7-form-control-wrap {
                                    position: initial;
                                }

                                span {
                                    &.wpcf7-not-valid-tip {
                                        position: absolute;
                                        margin: 0;
                                        top: 29px;
                                        right: 10px;
                                        background: #c3c3c3;
                                        font-size: 12px;
                                        color: #fff;
                                        padding: 2px 5px;
                                    }
                                }

						}

						&:after {
							position: absolute;
							top: -27px;
							left: -27px;
							border: 7px solid $orange;
							content: '';
							width: 100%;
							height: 100%;
							z-index: -1;
						}
					}

					form {
						position: relative;
						z-index: 3;

						textarea {
							width: 100%;
							box-sizing: border-box;
							height: 80px;
							border: 0;
							border-bottom: 1px solid #f4f4f4;
							outline: none;
						}

						input {
							width: 100%;
							height: 38px;
							box-sizing: border-box;
							border: 0;
							border-bottom: 1px solid #f4f4f4;
							outline: none;
						}

						& > div {
							position: relative;
							padding-top: 26px;
							padding-bottom: 20px;

							label {
								top: 0;
								position: absolute;
								font-size: 12px;
								color: #a5a5a5;
							}
						}

					}

					.contacts {
						padding: 0 70px;

						& > ul {
							& > li {
								font-size: 18px;
								padding-bottom: 14px;
								font-weight: 600;
								white-space: nowrap;
								display: grid;
								grid-template-columns: 26px 1fr;
                                align-items: center;
                                transition: 0.1s all;

                                &:hover {
                                    transform: scale(1.03);
                                }

								i {
									color: $orange;
									padding-right: 7px;
								}

								&:last-child {
									padding-bottom: 0;
								}

								a {
                                    color: #000;
                                    text-decoration: none;
								}
							}
						}

						p {
							font-size: 14px;
							color: #b7b7b7;
							margin-top: 40px;
						}
					}
				}
		}

		h2 {
			span {
				position: absolute;
				margin-left: 45px;
				display: block;
				font-size: 14.5px;
				font-weight: 700;

				&:before {
						position: absolute;
						width: 33px;
						height: 1px;
						background: #000;
						content: '';
						left: -43px;
						top: 50%;
				}
			}
		}
}


footer {
    border-top: 1px solid #eeeeee;

    &.entry-footer {
        display: none;
    }

	.content {
		display: grid;
		grid-template-columns: 1fr auto;
		align-items: center;
		padding: 30px 0;

		& > div {
			&:nth-child(2) {
				text-align: right;
			}

			ul {
				& > li {
					display: inline-block;
					padding-right: 10px;

					&:last-child {
						padding-right: 0;
					}

					a {
						transition: 0.3s all;
						i {
							color: #000000;
							transition: 0.1s all;
						}

						&:hover {
							i {
								transition: 0.1s all;
								color: $orange;
							}
						}
					}
				}
			}
		}
	}
}



/*Full screen modal*/
.fullscreen-modal {
    background: #000;
    position: fixed;
    width: 100%;
    padding: 0;
	z-index: 999999;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-perspective-origin: 50% 100%;
    perspective-origin: 50% 100%;
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease,-webkit-transform .3s ease;

    opacity: 0;
    height: 0;
    overflow: hidden;
    top: 0;
    -webkit-transform: perspective(900px) rotateX(-90deg);
    transform: perspective(900px) rotateX(-90deg);

    .container {
    	height: 100%;
    	position: relative;
    	display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
	    -webkit-box-pack: center;
	    -ms-flex-pack: center;
	    justify-content: center;

	    &:before {
			position: absolute;
			content: '';
			// background: url(../images/d_menu.svg) no-repeat;
			// background-size: auto 400px;
			// background-position: 0% 90%;
			z-index: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0.04;
		}

		.fs-cont {
            position: relative;
            z-index: 1;
		}
    }

    .bg-grid {
		& > div {
			border-left: 1px solid #ffffff0d;
		}
	}

    &.active {
		padding: 25px 0;
		visibility: visible;
		-webkit-transform: perspective(900px) rotateX(0);
		transform: perspective(900px) rotateX(0);
		opacity: 1;
		height: 100%;
    }

    h2 {
    	display: block;
    	text-align: center;
    	margin-bottom: 50px;
    	font-size: 42px;
    	text-transform: uppercase;
    	color: #fff;
    }

    .close {
    	position: absolute;
    	top: 40px;
    	right: 40px;
    	cursor: pointer;
    	svg {
    		width: 18px;
    		height: 18px;

    		path {
    			fill: #fff;
    		}
    	}
    }

    .content {
    	display: grid;
    	grid-template-columns: 1fr 1fr;
    	max-width: 800px;

    	&.foot {
    		grid-template-columns: auto 1fr;
    		grid-gap: 30px;
    		align-items: center;
    		border-top: 1px solid #171717;
    		margin-top: 40px;

    		& > div {
				display: grid;
				align-items: center;
				padding: 30px 0;
    		}
    	}

    	.feed-link {
    		display: inline-block;
		    color: #fff;
		    font-size: 14px;
		    font-weight: 700;
		    text-decoration: none;
		    transition: 0.2s;
		    border: 0;
		    cursor: pointer;
		    outline: none;
    	}

    	h3 {
    		font-size: 24px;
    		font-weight: 900;
            color: #fff;

            a {
                color: #fff;
                text-decoration: none;
            }
        }

    	& > div {
    		padding: 30px;

    		p {
    			font-size: 12px;
    			color: #a8a8a8;
    			margin: 0;
    			padding: 0;
    		}
    		&.phone {
    			display: grid;
                grid-template-columns: 30px 1fr;
                grid-column-gap: 10px;
    			border-right: 1px solid #171717;

		    	i {
		    		font-size: 24px;
                    color: $orange;
                    padding-top: 6px;
		    	}
    		}

    		&.mail {
    			display: grid;
                grid-template-columns: 30px 1fr;
                 grid-column-gap: 10px;

		    	i {
		    		font-size: 24px;
                    color: $orange;
                    padding-top: 6px;
		    	}
    		}
    	}
    }
}
/*Full screen modal*/

// Single Portfolio
.single-portfolio {
    article {
        header {
            text-align: center;
            margin: 60px 0;

            h1 {
                font-weight: 900;
                font-size: 42px;
                padding: 0;
            }
        }

        .content {
                box-shadow: 6px 13px 57px 0px rgba(0,0,0,0.1);
                background: #fff;
                position: relative;
                margin-bottom: 60px;

                .cover {
                    border-bottom: 1px solid #eeeeee;

                    img {
                        display: block;
                    }
                }

                .description {
                    padding: 50px;
                    display: grid;
                    grid-template-columns: 1fr 25%;
                    grid-gap: 50px;

                    .details {
                        .cat-list {
                            margin-bottom: 30px;
                        }
                    }
                }

                .entry-content {
                    padding: 0;
                }
        }
    }
}


.modal-dialog {
	.btn {
		border-radius: 30px;
		font-size: 14px;
	}

	.btn-primary {
		background: $orange;
		border-color: $orange;
		color: #000;
	}
}

@media (max-width: 992px) {
	#home_slider .da_glich { font-size: 40px; line-height: 40px; width: 210px; }
	#home_slider h1 { font-size: 21px; }
	#services .container .content { grid-template-columns: 1fr 1fr; grid-gap: 40px; }
	#portfolio .container .portfolio { grid-template-columns: 1fr 1fr; }
	#feedback .container, #portfolio .container, #about .container { background-size: contain; }
}

@media (max-width: 782px) {
    body.admin-bar header#header {
        top: 46px;
    }
}

@media (max-width: 600px) {
    #wpadminbar {
        position: fixed !important;
    }
}
@media (max-width: 768px) {
	h2 { font-size: 26px; }
	#services .container .content { grid-template-columns: 1fr; grid-gap: 40px; }


    .fullscreen-modal {
        h2 {
            font-size: 32px;
            margin-bottom: 30px;
        }
        .content {
            grid-template-columns: 1fr;
            max-width: 100%;
            & > div {
                &.phone {
                    border-right: none;;
                    border-bottom: 1px solid #171717;
                }
            }

            &.foot {
                grid-template-columns: 1fr;
                grid-gap: 0;
                padding-top: 50px;
                border: 0;
                margin-top: 0;

                & > div {
                    text-align: center;
                    padding: 0;
                    display: block;

                    a.dart-btn {
                        margin-bottom: 20px;
                    }
                }
            }

            h3 {
                font-size: 21px;
            }
        }
    }


	header#header {
		& > .container {
			grid-column-gap: 30px;
			grid-template-columns: 1fr auto auto;

			.head-btn {
				display: none;
			}
		}
	}

	.bg-grid {
		grid-template-columns: repeat(3, 1fr);
	}

	#about {
		.cont {
			padding: 0 30px;
		}
	}

	#services .container .content { padding: 0 30px; }
	#feedback .container .content { grid-template-columns: 1fr; grid-gap: 40px; margin-bottom: 0; margin-top: 50px; }
	#portfolio .container .portfolio { margin-top: 50px; }
	#about ul.socials { grid-column-gap: 25px; }

	#portfolio .container h2 span { right: -25px; left: 0; bottom: -40px; }
	#portfolio .container h2 span:before { left: 0; }

    #feedback .container .content > div:nth-child(1), #feedback .container .content .home_form form { padding: 30px; }

	#home_slider { padding: 30px 0; }
	.content-page { padding-top: 68px; }

    #about .container, #services .container, #portfolio .container, #feedback .container { padding-top: 40px; padding-bottom: 40px; }
    #feedback .container .content .contacts { padding: 0 6px; }
    #feedback .container .content { grid-gap: 20px; }
	.dart-btn { box-shadow: 0px 8px 37px 0px rgba(0, 0, 0, 0.21); }

	#home_slider h1 { font-size: 18px; margin-bottom: 12px; padding: 0 20px; }
	#home_slider .da_glich { font-size: 26px; line-height: 32px; width: 138px; }

	#services .container .desc { left: auto; right: -50px; bottom: auto; top: 109px; }
}

@media (max-width: 540px) {
	#portfolio .container .portfolio { grid-template-columns: 1fr; }
}


@media (max-width: 380px) {
    #home_slider h1 { font-size: 16px; }
    #home_slider .da_glich { font-size: 22px; line-height: 29px; width: 117px; }

    #about ul.socials li a { width: 42px; height: 42px; line-height: 42px; font-size: 21px;}
    header a.logo { width: 90px; }
}
