.container{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}@media (min-width:576px){.container{max-width:540px}}@media (min-width:768px){.container{max-width:720px}}@media (min-width:992px){.container{max-width:960px}}@media (min-width:1200px){.container{max-width:1140px}}

body.admin-bar header#header { top: 32px; }
body.page-id-60 #header .container > .head-btn { display: none; }

@media (min-width: 768px) {
    body.page-id-60 header#header { padding: 27px 0; }
}

.content-page { position: relative; z-index: 1; }

video { display: block; }
button:focus { outline: none; }

.wpcf7-form .wpcf7-response-output.wpcf7-validation-errors { display: none !important; }
.wpcf7-form .wpcf7-response-output.wpcf7-mail-sent-ok { color: #4F8A10; background-color: #DFF2BF; border: 0; font-size: 14px; padding: 10px !important;
    display: grid !important; grid-template-columns: auto 1fr; grid-column-gap: 14px; align-items: center; position: absolute !important; bottom: 0; margin: 0; width: 100%; left: 0; }
div.wpcf7-mail-sent-ok:before,div.wpcf7-validation-errors:before { font: 21px/30px FontAwesome; }
div.wpcf7-mail-sent-ok:before { content:'\f00c'; }
div.wpcf7-validation-errors:before { content:'\f057'; }
form.wpcf7-form > p { margin: 0; }

header.entry-header { position: relative; background: url(../images/header_h1_bg.jpg) center no-repeat; background-size: cover; background-attachment: fixed;
     background-position: center; position: relative; color: #fff; background-repeat: no-repeat; }
header.entry-header:before { content: ''; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: #000000e0; }


/* Preloader */


/* .b-preloader { left: 0; right: 100%; top: 0; bottom: 0;  }
.b-preloader.bg-black { background: #000; }
.b-preloader.show { right: 0%; }
.b-preloader.hide { left: 100%; visibility: hidden; } */


.b-preloader { position: fixed; z-index: 9999; left: 0; top: 100%; height: 100%; width: 100%; overflow: hidden; background: #000; -webkit-transition: all 0.9s ease; -o-transition: all 0.9s ease; transition: all 0.9s ease; }
.b-preloader .container { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; height: 100%; }
.b-preloader.bg-black { background: #000; }
.b-preloader.show { top: 0%; }
.b-preloader.hide { top: -100%; visibility: hidden; }
.b-preloader-items { position: relative; width: 100%; height: 96px; color: #333; font-size: 96px; line-height: 1; font-weight: bold; text-align: center; -webkit-transform-origin: center center; -ms-transform-origin: center center; transform-origin: center center; }
.b-preloader-item { color: #fff; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center;
  -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; position: absolute; left: 0; top: 0; width: 100%; height: 100%; visibility: hidden; -webkit-transition: -webkit-transform 3.2s linear;
  transition: -webkit-transform 3.2s linear; -o-transition: transform 3.2s linear; transition: transform 3.2s linear; transition: transform 3.2s linear, -webkit-transform 3.2s linear; }
.b-preloader-item.show { visibility: visible; }
.b-preloader-item.zoom-out {-webkit-transform: scale(0.8);  -ms-transform: scale(0.8);  transform: scale(0.8); }
.window-loaded .main-wrapper:after { left: 100%; }


@media (max-width: 768px) {
    .b-preloader-items { font-size: 22px; }
}
